---
layout: index
---

<!--<div class="posts">-->
<!--{% assign posts=site.posts | where:"lang", "en" %}-->
<!--{% for default in posts %}-->
<!--{% assign translation = site.posts | where:"ref", default.ref | where:"lang", "fr" %}-->
    <!--<article class="post">-->
      <!--{% if translation[0] %}-->
      <!--<h1><a href="{{ site.baseurl }}{{ translation[0].url }}">{{ translation[0].title }}</a></h1>-->
      <!--<div class="entry">-->
      <!--{{ translation[0].excerpt }}-->
      <!--</div>-->

      <!--<a href="{{ site.baseurl }}{{ translation[0].url }}" class="read-more">Lire plus</a>-->
      <!--{% else %}-->
      <!--<h1><a href="{{ site.baseurl }}{{ default.url }}">{{ default.title }}</a> [en] </h1>-->
      <!--<div class="entry">-->
        <!--{{ default.excerpt }}-->
      <!--</div>-->

      <!--<a href="{{ site.baseurl }}{{ default.url }}" class="read-more">Read More</a>-->
      <!--{% endif %}-->
    <!--</article>-->
<!--{% endfor %}-->
<!--</div>-->

<div class="col s12 m8 l9 xl6">
  <div class="calendar">
    <!-- Loading stuff -->
    Loading the data just for you.
  </div>
  <script>
      GitHubCalendar(".calendar", "sebastienvermeille");
  </script>
</div>

<div class="col s12 m8 l9 xl6">

  <div class="collection">
    <div class="collection-header">
      <h2>Derniers articles</h2>
    </div>
    {% for post in site.posts | where:"lang", "en" %}
    <a class="collection-item" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    {% endfor %}
  </div>

  <div class="collection">
    <div class="collection-header">
      <h2>Derniers tutoriaux</h2>
    </div>
    {% for howto in site.howtos | where:"lang", "en" %}
    <a class="collection-item" href="{{ howto.baseurl }}{{ howto.url }}">{{ howto.title }}</a>
    {% endfor %}
  </div>

</div>

