---
layout: index
---

<div class="col s12 m6">

  <ul class="collection with-header right" id="yoda">
    <li class="collection-header"><h4>Qualité de navigation</h4></li>
    <li class="collection-item">Adblock <span class="new green badge" data-badge-caption="activé"></span></li>
    <li class="collection-item">Taille de l'écran <span class="new green badge" data-badge-caption="optimale"></span></li>
    <li class="collection-item">Navigateur <span class="new green badge" data-badge-caption="supporté"></span></li>
    <li class="collection-item">Vitesse de connexion <span class="new green badge" data-badge-caption="bonne"></span></li>
    <li class="collection-item">Javascript <span class="new red badge" data-badge-caption="désactivé"></span></li>
  </ul>

  <!--<img src="/assets/images/like.png" class="left"/> Ah bravo je vois que tu utilise adblock continue comme ca jeune padawan ! Fais une exception pour ton maître ?  -->
</div>


<div class="col s12 m8 l9 xl6">

  <div class="collection">
    <div class="collection-header">
      <h2>Derniers articles</h2>
    </div>
    {% for post in site.posts | where:"lang", "en" %}
    <a class="collection-item" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    {% endfor %}
  </div>

  <div class="collection">
    <div class="collection-header">
      <h2>Derniers tutoriaux</h2>
    </div>
    {% for howto in site.howtos | where:"lang", "en" %}
    <a class="collection-item" href="{{ howto.baseurl }}{{ howto.url }}">{{ howto.title }}</a>
    {% endfor %}
  </div>

</div>

