.site-avatar {
   float: left;
   width: 65px;
   height: 65px;
   margin-right: 15px;

   @include mobile {
      float: none;
      display: block;
      margin: 0 auto;
   }

   img {
      border-radius: 5px;
   }
}

ul.grid {
   display: flex;
   flex-wrap: wrap;

   //li.grid-card {
   //   display: flex;
   //   padding: 0.5em;
   //   width: 100%;
   //}
}

@media all and (min-width: 40em) {
   .grid-card {
      width: 50% !important;
   }
}

@media all and (min-width: 60em) {
   .grid-card {
      width: 33.33% !important;
   }
}

