---
---

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
   @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
      @content;
   }
}

@mixin desktop {
   @media (min-width: #{$desktop-width}) {
      @content;
   }
}

.site-avatar {
   float: left;
   margin-right: 15px;

   img {
      border-radius: 5px;
   }
}

ul.grid {
   display: flex;
   flex-wrap: wrap;
   justify-content: left;

   li {
      width: 22%;
      padding: 5px;

      div.card {
         display: flex;
         flex-direction: column;
         height: 100%;
      }

      @include tablet {
         width: 50%;
      }

      @include desktop {
         width: 22%;
      }

   }
}
//
//@media all and (min-width: 40em) {
//   ul.grid {
//      li {
//         width: 50%;
//      }
//   }
//}
//
//@media all and (min-width: 60em) {
//   ul.grid {
//      li {
//         width: 22%;
//      }
//   }
//}

