.site-avatar {
	float: left;
	width: 65px;
	height: 65px;
	margin-right: 15px;
}

.site-avatar img {
	border-radius: 5px;
}

ul.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}

ul.grid li {
	width: 22%;
	padding: 5px;
	display: flex;
	flex-direction: column;
}

ul.grid li div.card {
	flex-direction: column;
	height: 100%;
}

@media all and (min-width: 40em) {
	ul.grid li.card {
		width: 50%;
	}
}

@media all and (min-width: 60em) {
	ul.grid li.card {
		width: 22%;
	}
}
