---
---

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
   @media (max-width: #{$tablet-width - 1px}) {
      @content;
   }
}

@mixin tablet {
   @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
      @content;
   }
}

@mixin desktop {
   @media (min-width: #{$desktop-width}) {
      @content;
   }
}

.site-avatar {
   float:left;
   margin-left: 10px;
   margin-right:20px;

   img {
      height: 80%;
      vertical-align: middle;
      border-radius: 5px;
      margin-bottom: 2.5px;
   }
}

ul.grid {
   display: flex;
   flex-wrap: wrap;
   justify-content: left;

   li {
      width: 25%;
      padding: 16px;

      div.card {
         display: flex;
         flex-direction: column;
         height: 100%;
      }

      @include mobile {
         width: 100%;
      }

      @include tablet {
         width: 50%;
      }

      @include desktop {
         width: 25%;
      }

   }
}
//
//@media all and (min-width: 40em) {
//   ul.grid {
//      li {
//         width: 50%;
//      }
//   }
//}
//
//@media all and (min-width: 60em) {
//   ul.grid {
//      li {
//         width: 22%;
//      }
//   }
//}

.unselectable {
   -webkit-user-select: none; /* Chrome/Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* IE10+ */

   /* Rules below not implemented in browsers yet */
   -o-user-select: none;
   user-select: none;
}

body {
   background-image:url('assets/images/fabric_of_squares_gray.png');
   //background-image:url('assets/images/grey_wash_wall.png');
   //background-image:url('assets/images/sneaker_mesh_fabric.png');
   //background-image:url('assets/images/1.jpg');
   background-color:#eeeeee;
}

ul#howtos-container{
   div.card {
      background-image: url('assets/images/white-bg.jpg');
   }
}


@import "materialize/materialize";
@import "svg-icons";
//@import "highlights";
@import "monokai";
@import "hexagon";
@import "howto";

h1 {
   font-size: 2.92rem;
   line-height: 110%;
   margin: 1.46rem 0 1.168rem 0;
}

h2 {
   font-size: 2.28rem;
   line-height: 110%;
   margin: 1.14rem 0 .912rem 0;

   padding-top: 70px;
   position: relative;
   top: -70px;
   margin-bottom: -70px;
   z-index: -99999px
}

h3 {
   font-size: 1.68rem;
   line-height: 110%;
   margin: 1.14rem 0 .912rem 0;
}


blockquote {
   background: #f9f9f9;
   border-left: 10px solid #ccc;
   margin: 1.5em 10px;
   padding: 0.5em 10px;
   quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
   color: #ccc;
   content: open-quote;
   font-size: 4em;
   line-height: 0.1em;
   margin-right: 0.25em;
   vertical-align: -0.4em;
}
blockquote p {
   display: inline;
}

body {counter-reset: h2}
h2 {counter-reset: h3}
h3 {counter-reset: h4}
h4 {counter-reset: h5}
h5 {counter-reset: h6}

h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before { content: ""; counter-increment: none }

#summary {
   position: fixed;
   left: 5px;
   top: 80px;
   width: 193px;
}

article.post {
  h2:before {counter-increment: h2; content: counter(h2) ". "}
  h3:before {counter-increment: h3; content: counter(h2) "." counter(h3) ". "}
  h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "}
  h5:before {counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "}
  h6:before {counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "}

}

.breadcrumb-container {
   display: inline-block;
   float:left;
}

footer {
   blockquote::before {
      color: #54370b;
      content: open-quote;
      font-size: 7em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.5em;
   }

   blockquote {
      width: 100%;
      border-radius:5px;
      background: rgb(228, 155, 46);
      border-left: 10px solid #ef9004;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
      quotes: "“" "”" "‘" "’";
   }
}

.typed-cursor{
   opacity: 1;
   -webkit-animation: blink 1s infinite;
   -moz-animation: blink 1s infinite;
   animation: blink 1s infinite;
   border: 5px solid white;
   font-size: 0.6em;
}
@keyframes blink{
   0% { opacity:1; }
   50% { opacity:0; }
   100% { opacity:1; }
}
@-webkit-keyframes blink{
   0% { opacity:1; }
   50% { opacity:0; }
   100% { opacity:1; }
}
@-moz-keyframes blink{
   0% { opacity:1; }
   50% { opacity:0; }
   100% { opacity:1; }
}

.quote-author {
   width: 100%;
   text-align: right;
}

#yoda {
   display:none;
}

header.navbar-fixed {
   nav {
      div.container {
         overflow:hidden;
      }
   }
}

.breadcrumb-container {
   text-overflow: ellipsis;
}