<div class="breadcrumb-container">

    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

    <a href="/" class="breadcrumb" aria-label="p={{ include.path }} t={{ include.title }}">Home</a>

    {% comment %}
    ------------------------------------BLOG PART---------------------------------
    {% endcomment %}

    {% if include.path == 'blog.md' %}
    <a href="#" class="breadcrumb active">Blog</a>
    {% elsif include.path contains "posts" %}
    <a href="/blog" class="breadcrumb">Blog</a>
    <a href="#" class="breadcrumb active">{{ include.title }}</a>
    {% endif %}

    {% comment %}
    ------------------------------------HOWTO PART---------------------------------
    {% endcomment %}

    {% if include.path == 'howtos.md' %}
    <a href="#" class="breadcrumb">Howto</a>
    {% elsif include.path contains "howto" %}
    <a href="/howto" class="breadcrumb">Howto</a>
    <a href="#" class="breadcrumb active">{{ include.title }}</a>
    {% endif %}

    {% comment %}
    ------------------------------------PROJECTS PART---------------------------------
    {% endcomment %}

    {% if include.path == 'projects.md' %}
    <a href="#" class="breadcrumb">Projects</a>
    {% elsif include.path contains "project" %}
    <a href="/projects" class="breadcrumb">Projects</a>
    <a href="#" class="breadcrumb active">{{ include.title }}</a>
    {% endif %}

    {% comment %}
    ------------------------------------ABOUT PART---------------------------------
    {% endcomment %}

    {% if include.path == 'about.md' %}
    <a href="#" class="breadcrumb">About</a>
    {% endif %}
</div>