<div class="breadcrumb-container">

    <a href="/" class="breadcrumb">Home</a>
    {% if include.path contains "posts" %}
    <a href="/blog" class="breadcrumb">Blog</a>
    {% endif %}
    {% if include.title == 'blog.md' %}
    <a href="#" class="breadcrumb active">Blog</a>
    {% endif %}
    {% if include.path contains "howto" || include.title == 'howtos.md' %}
    <a href="/howto" class="breadcrumb">Howto</a>
    {% endif %}
    {% if include.title == 'howtos.md' %}
    <a href="#" class="breadcrumb">Howto</a>
    {% endif %}
    <a href="#" class="breadcrumb active">{{ include.title }}</a>
    {{ include.path }} {{ include.title }}
</div>