<div class="breadcrumb-container">

    <a href="/" class="breadcrumb" aria-label="p={{ include.path }} t={{ include.title }}">Accueil</a>

    {% comment %}
    ------------------------------------BLOG PART---------------------------------
    {% endcomment %}

    {% if include.path == 'blog.md' %}
    <a href="#" class="breadcrumb active">Blog</a>
    {% elsif include.path contains "posts" %}
    <a href="/blog" class="breadcrumb">Blog</a>
    <a href="#" class="breadcrumb active">{{ include.title }}</a>
    {% endif %}

    {% comment %}
    ------------------------------------HOWTO PART---------------------------------
    {% endcomment %}

    {% if include.path == 'howtos.md' %}
    <a href="#" class="breadcrumb">Tutoriaux</a>
    {% elsif include.path contains "howto" %}
    <a href="/howto" class="breadcrumb">Tutoriaux</a>
    <a href="#" class="breadcrumb active">{{ include.title }}</a>
    {% endif %}

    {% comment %}
    ------------------------------------PROJECTS PART---------------------------------
    {% endcomment %}

    {% if include.path == 'projects.md' %}
    <a href="#" class="breadcrumb">Projets</a>
    {% elsif include.path contains "project" %}
    <a href="/projects" class="breadcrumb">Projets</a>
    <a href="#" class="breadcrumb active">{{ include.title }}</a>
    {% endif %}

    {% comment %}
    ------------------------------------ABOUT PART---------------------------------
    {% endcomment %}

    {% if include.path == 'about.md' %}
    <a href="#" class="breadcrumb">A propos</a>
    {% endif %}
</div>