<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text nocount">Favorites Quotes</h5>

                <blockquote class="white-text right z-depth-1" id="quote-container">
                    La connaissance est la seule chose qui s'accroit lorsqu'on la
                    partage.<span class="typed-cursor"></span>
                        <p class="white-text right author">Sacha Boudjema</p>
                </blockquote>

            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text nocount">Follow me</h5>
                <ul>
                    <li><a class="white-text" href="https://twitter.com/svermeille_com">Twitter</a></li>
                    <li><a class="white-text" href="https://plus.google.com/+SébastienVermeille">Google+</a></li>
                </ul>
                {% include svg-icons.html %}
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Created by <a class="orange-text text-lighten-3" href="http://sebastien.vermeille.blog">
            Sébastien Vermeille</a>
            <a href="https://creativecommons.org/licenses/by/4.0/" class="grey-text text-lighten-4 right">Licensed under
                Creative Commons Attribution 4.0</a>
        </div>
    </div>
</footer>