<footer class="page-footer grass-green">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text nocount">Favorites Quotes</h5>

                <blockquote class="white-text right z-depth-1" id="quote-container">
                    La connaissance est la seule chose qui s'accroit lorsqu'on la
                    partage.<span class="typed-cursor"></span>
                        <p class="white-text right author">Sacha Boudjema</p>
                </blockquote>

            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text nocount">Follow me</h5>
                {% include svg-icons.html %}
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Created by <a class="green darken-3" href="http://sebastien.vermeille.blog">
            Sébastien Vermeille</a>
            <a href="https://creativecommons.org/licenses/by/4.0/" class="green darken-3 right">Licensed under
                Creative Commons Attribution 4.0</a>
        </div>
    </div>
</footer>