
<ul id="slide-out" class="side-nav">
    <li><div class="userView">
        <div class="background">
            <img src="images/office.jpg">
        </div>
        <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
        <a href="#!name"><span class="white-text name">John Doe</span></a>
        <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>

    <li><a class="subheader">Qualité de navigation</a></li>
    <li class="collection-header"><h4>Qualité de navigation</h4></li>
    <li class="collection-item">Adblock <span class="new green badge" data-badge-caption="activé"></span></li>
    <li class="collection-item">Taille de l'écran <span class="new green badge" data-badge-caption="optimale"></span></li>
    <li class="collection-item">Navigateur <span class="new green badge" data-badge-caption="supporté"></span></li>
    <li class="collection-item">Vitesse de connexion <span class="new green badge" data-badge-caption="bonne"></span></li>
    <li class="collection-item">Javascript <span class="new red badge" data-badge-caption="désactivé"></span></li>


</ul>