{% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><i class="svg-icon icon-twitter z-depth-1"></i></a>{% endif %}
{% if site.footer-links.slack %}<a href="{{ site.footer-links.slack }}"><i class="svg-icon icon-slack z-depth-1"></i></a>{% endif %}
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}"><i class="svg-icon icon-github z-depth-1"></i></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="svg-icon icon-linkedin z-depth-1"></i></a>{% endif %}
{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="svg-icon icon-rss z-depth-1"></i></a>{% endif %}
