article.howto {
  section.header {


    border-radius:3px;
    background-color: #0076b5;
    border: 1px solid #0076b5;
    text-align:center;

    h2 {
      color:white;
      font-weight:bold;
    }

    img {
      margin:auto;
    }
  }
}