article.howto {

  div.card-panel {

    border-radius:3px;
    text-align:center;

    h2 {
      font-weight:bold;
    }

    img {
      width:128px;
      display: block;
      margin: 0 auto;
    }
  }
}

#markdown-toc {
  @extend .collection;

  li {
    @extend .collection-item;
  }
}
