article.howto {

  div.card-panel {

    border-radius:3px;
    text-align:center;

    h2 {
      font-weight:bold;
    }

    img {
      width:128px;
      display: block;
      margin: 20px auto;
    }
  }
}

#markdown-toc {
  padding-left: 15px;
  line-height: 1.6;
}


.howto-container {

  img {
    @extend responsive-img;
  }

}