a {

}

.svg-icon {

  display: inline-block;
  font-size: 3em;
  color:white;

  background-color: black;
  border-radius: 50px;
  width: 64px;
  height: 64px;
  padding-left: 10px;
  padding-top: 6px;

  &.icon-github {

  }
  &.icon-linkedin {
    background-color:#0076b5;
  }
  &.icon-rss {
    background-color:#eb7b1d;
  }

  &.icon-twitter {
    background-color:#1ca1f2;
  }
  &.icon-slack {
  }
}

a > i.svg-icon {
  color:white;
}
