<!DOCTYPE html>
<html>
<head>
   {% assign currentLanguage = 'fr' %}
   {% if page.lang[0] %}
   {% assign currentLanguage = page.lang[0] %}
   {% endif %}

   <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description[currentLanguage]
      }}</title>

   {% include meta.html %}

   {% include styles.html %}


   <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description[currentLanguage] }}"
         href="{{ site.baseurl }}/feed.xml"/>

</head>

<body>
{% include navbar.html %}

<!-- content:start -->
<main class="row">
   <div class="container">
   {{ content }}
   </div>
</main>
<!-- content:end -->

{% include footer.html %}
{% include scripts.html %}
</body>
</html>
