<!DOCTYPE html>
<html>
<head>
   {% assign currentLanguage = 'en' %}
   {% if page.lang[0] %}
   {% assign currentLanguage = page.lang[0] %}
   {% endif %}

   <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description[currentLanguage]
      }}</title>

   {% include meta.html %}
   {% include styles.html %}

   <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description[currentLanguage] }}"
         href="{{ site.baseurl }}/feed.xml"/>

</head>

<body>
<!-- navbar:start -->
<header class="navbar-fixed">
   <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">
         <a id="logo-container" href="{{ site.baseurl }}/" class="site-avatar">
            <img src="{{ site.avatar }}"/>
         </a>
         {% include breadcrumb.html path=page.path title=page.title %}
         {% include navbar-links.html %}
         <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
   </nav>
</header>
<!-- navbar:end -->

<!-- content:start -->
<main class="row natural-background">
   {{ content }}
</main>
<!-- content:end -->

{% include footer.html %}
{% include scripts.html %}
</body>
</html>
