<!DOCTYPE html>
<html>
<head>
   {% assign currentLanguage = 'fr' %}
   {% if page.lang[0] %}
   {% assign currentLanguage = page.lang[0] %}
   {% endif %}

   <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description[currentLanguage]
      }}</title>

   {% include meta.html %}
   {% include styles.html %}

   <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description[currentLanguage] }}"
         href="{{ site.baseurl }}/feed.xml"/>

</head>

<body>
<!-- navbar:start -->
<header class="navbar-fixed">
   <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">
         <a id="logo-container" href="{{ site.baseurl }}/" class="brand-logo site-avatar">
            <img src="{{ site.avatar }}"/>

            <!--<div class="site-info">-->
            <!--<h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>-->
            <!--<p class="site-description">{{ site.description[currentLanguage] }}</p>-->
            <!--</div>-->

         </a>
         {% include navbar-links.html %}
         <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
   </nav>
</header>
<!-- navbar:end -->

<!-- content:start -->
<main class="row">
   <div class="col s12 m8 l9 xl6">
      <h1>Derniers articles</h1>
   </div>

   <div class="col s12 m8 l9 xl6">
      <h1>Derniers tutoriaux</h1>
   </div>

   <h1>Content</h1>
   {{ content }}
</main>

{% include footer.html %}
{% include scripts.html %}
</body>
</html>
