<!DOCTYPE html>
<html>
<head>
   {% assign currentLanguage = 'fr' %}
   {% if page.lang[0] %}
   {% assign currentLanguage = page.lang[0] %}
   {% endif %}

   <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description[currentLanguage]
      }}</title>

   {% include meta.html %}
   {% include styles.html %}

   <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description[currentLanguage] }}"
         href="{{ site.baseurl }}/feed.xml"/>

</head>

<body>
{% include navbar.html %}

<!-- content:start -->
<main class="row">
   <div class="col s12 m12 l12 xl12">
      {{ content }}
      <div class="col s12 m4 l3 xl2">
         <div class="collection with-header">
            <div class="collection-header">
               <h8>Thèmes</h8>
            </div>
            <a href="/howto" class="collection-item">Tous les thèmes</a>

            <!-- Create empty arrays -->
            {% assign tags = '' | split: ',' %}
            {% assign unique_tags = '' | split: ',' %}

            <!-- Map and flatten -->
            {% assign howtos_tags =  site.howtos | map: 'tags' | join: ',' | join: ',' | split: ',' %}

            <!-- Push to tags -->
            {% for tag in howtos_tags '%}
            {% assign tags = tags | push: tag %}
            {% endfor %}

            <!-- Uniq -->
            {% assign tags = tags | sort %}
            {% for tag in tags %}

            <!-- If not equal to previous then it must be unique as sorted -->
            {% unless tag == previous %}

            <!-- Push to unique_tags -->
            {% assign unique_tags = unique_tags | push: tag %}
            {% endunless %}

            {% assign previous = tag %}
            {% endfor %}

            {% for currentTag in unique_tags %}
               {% assign counter = 0 %}
               {% for tag in tags '%}
                  {% if tag == currentTag %}
                      {% assign counter = counter | plus: 1 %}
                  {% endif %}
               {% endfor %}

               <a href="/howto#filter={{ currentTag }}"class="collection-item" data-filter=".filter-{{ currentTag }}">
                  {{ currentTag }}<span class="badge">{{ counter }}</span>
               </a>
            {% endfor %}
         </div>

         {% include adsense.html %}
      </div>
      <div class="col s12 m8 l9 xl10">
         <input type="text" id="search" placeholder="Rechercher ...">
      </div>
      <div class="col s12 m8 l9 xl10">
         <ul class="grid" id="howtos-container">
            {% for howto in site.howtos | where:"lang", "fr" %}
            <li class="mix {% for tag in howto.tags %}filter-{{ tag }} {% endfor %}"
                data-tags="{{ howto.tags | jsonify | xml_escape }}">
               <div data-mh="articles"
                    class="card card-medium hoverable card-article">
                  <div data-mh="thumbs" class="card-image">
                     <a href="{{ site.baseurl }}{{ howto.url }}">
                        <img src="{{ howto.cover }}" class="responsive-img unselectable">
                     </a>
                  </div>
                  <div class="card-content" style="flex: 1 0 auto;">
                     <p data-mh="articles-title" class="unselectable">{{ howto.title }}</p>
                  </div>
                  <div class="card-action">
                     <a href="{{ site.baseurl }}{{ howto.url }}">Lire</a>
                     <div class="right">
                        {% for tag in howto.tags limit:2 %}
                        <span data-badge-caption="{{ tag }}" class="new badge"></span>
                        {% endfor %}
                     </div>
                  </div>
               </div>
            </li>
            {% endfor %}
         </ul>
      </div>
   </div>
</main>

{% include footer.html %}

{% include analytics.html %}
<script type="text/javascript" src="{{ site.url }}/assets/js/mixitup.min.js"></script>
{% include scripts.html %}
</body>
</html>
