<!DOCTYPE html>
<html>
<head>
   {% assign currentLanguage = 'en' %}
   {% if page.lang[0] %}
   {% assign currentLanguage = page.lang[0] %}
   {% endif %}

   <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description[currentLanguage]
      }}</title>

   {% include meta.html %}

   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

   <!--Import Google Icon Font-->
   <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

   <!--Let browser know website is optimized for mobile-->
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

   <!--&lt;!&ndash;[if lt IE 9]>-->
   <!--<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>-->
   <!--<![endif]&ndash;&gt;-->

   <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css"/>
   <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description[currentLanguage] }}"
         href="{{ site.baseurl }}/feed.xml"/>

</head>

<body>
<!-- navbar:start -->
<header class="navbar-fixed">
   <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">
         <a id="logo-container" href="{{ site.baseurl }}/" class="brand-logo site-avatar">
            <img src="{{ site.avatar }}"/>

            <!--<div class="site-info">-->
            <!--<h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>-->
            <!--<p class="site-description">{{ site.description[currentLanguage] }}</p>-->
            <!--</div>-->

         </a>
         {% include navbar-links.html %}
         <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
   </nav>
</header>
<!-- navbar:end -->

<!-- content:start -->
<main class="row">
   <div class="col s12 m8 l9 xl12">
      {{ content }}
      <div class="col s12 m4 l3 xl2">
         <div class="collection with-header">
            <div class="collection-header">
               <h8>Thèmes</h8>
            </div>
            <a href="/" class="collection-item">Tous les thèmes</a><a href="/content/Databases/"
                                                                      class="collection-item">Databases<span
                 class="badge">1</span></a><a href="/content/Docker/" class="collection-item">Docker<span
                 class="badge">1</span></a><a href="/content/Games/" class="collection-item">Games<span
                 class="badge">1</span></a><a href="/content/Git/" class="collection-item">Git<span
                 class="badge">1</span></a><a
                 href="/content/Linux/" class="collection-item">Linux<span class="badge">1</span></a><a
                 href="/content/PHP/" class="collection-item">PHP<span class="badge">2</span></a>
         </div>
      </div>
      <div class="col s12 m8 l9 xl10">
         <ul class="grid">

            {% for howto in site.howtos | where:"lang", "fr" %}
            <li data-mh="articles"
                class="card card-medium hoverable card-article">
               <div data-mh="thumbs" class="card-image">
                  <img src="{{ howto.cover }}" class="responsive-img">
               </div>
               <div class="card-content" style="flex: 1 0 auto;">
                  <p data-mh="articles-title">{{ howto.title }}</p>
               </div>
               <div class="card-action"><a
                       href="{{ site.baseurl }}{{ howto.url }}">Lire</a>
                  <div class="right"><span data-badge-caption="Databases" class="new badge"></span></div>
               </div>
            </li>
            {% endfor %}
         </ul>
      </div>
   </div>
</main>
<!-- content:end -->

<!--<div class="wrapper-masthead">-->
<!--<div class="container">-->
<!--<header class="masthead clearfix">-->
<!--<a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}"/></a>-->

<!--<div class="site-info">-->
<!--<h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>-->
<!--<p class="site-description">{{ site.description[currentLanguage] }}</p>-->
<!--</div>-->

<!--<nav>-->
<!--<a href="{{ site.baseurl }}/">{{ i18n.blog[currentLanguage] }}</a>-->
<!--<a href="{{ site.baseurl }}/about">{{ i18n.about[currentLanguage] }}</a>-->
<!--</nav>-->

<!--<ul>-->
<!--{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}-->
<!--{% for post in posts %}-->
<!--<li>-->
<!--<a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>-->
<!--</li>-->
<!--{% endfor %}-->

<!--{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}-->
<!--{% for page in pages %}-->
<!--<li>-->
<!--<a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>-->
<!--</li>-->
<!--{% endfor %}-->
<!--</ul>-->

<!--</header>-->
<!--</div>-->
<!--</div>-->

<!--<div id="main" role="main" class="container">-->
<!--{{ content }}-->
<!--</div>-->

<!--<div class="wrapper-footer">-->
<!--<div class="container">-->
<!--<footer class="footer">-->
<!--{% include svg-icons.html %}-->
<!--</footer>-->
<!--</div>-->
<!--</div>-->

<footer class="page-footer orange">
   <div class="container">
      <div class="row">
         <div class="col l6 s12">
            <h5 class="white-text">Favorites Quotes</h5>
            <p class="grey-text text-lighten-4">La connaissance est la seule chose qui s'accroit lorsqu'on la
               partage.</p>
            <p class="white-text right">Sacha Boudjema</p>
         </div>
         <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Follow me</h5>
            <ul>
               <li><a class="white-text" href="https://twitter.com/svermeille_com">Twitter</a></li>
               <li><a class="white-text" href="https://plus.google.com/+SébastienVermeille">Google+</a></li>
            </ul>
         </div>
      </div>
   </div>
   <div class="footer-copyright">
      <div class="container">
         Created by <a class="orange-text text-lighten-3" href="http://sebastien.vermeille.blog">
         Sébastien Vermeille</a>
         <a href="https://creativecommons.org/licenses/by/4.0/" class="grey-text text-lighten-4 right">Licensed under
            Creative Commons Attribution 4.0</a>
      </div>
   </div>
</footer>

{% include analytics.html %}
</body>
</html>
