---
layout: base
permalink: /howto
---
<div class="container">

    <div id="summary" class="collection hide-on-med-and-down"></div>

    <div class="z-depth-1" style="padding:16px; background-color:white;">
        <article class="howto">
            <div class="card-panel blue darken-1">

                <h2 class="white-text">{{ page.title }}</h2>
                <img src="{{ page.cover }}" class="circle responsive-img"/>

                <p class="white-text">Publié par Sébastien Vermeille le {{ page.date }}, mis à jour le {{ page.updatedAt }} (0 lectures)</p>
                <p class="tags white-text">
                    <i class="material-icons white-text" style="vertical-align:middle;">loyalty</i>
                    {% for tag in page.tags %}
                    <span data-badge-caption="{{ tag }}" class="new badge" style="float: none;"></span> &nbsp;
                    {% endfor %}
                </p>

            </div>


            <h2>{{ page.title }}</h2>
            <div class="entry">
                {{ content }}
            </div>

            <div class="date">
                {% if page.lang == "en" %}
                Written on {{ page.date }}
                {% else %}
                Publié le {{ page.date }}
                {% endif %}
            </div>
            {% if page.comments == true %}
            <div class="row">
                <h5 class="nocount">Commentaires</h5>
                <div class="col s12">
                    {% include disqus.html %}
                </div>
            </div>
            {% endif %}
        </article>
    </div>
</div>