---
layout: base
permalink: /posts
---
<div class="container">

    <div class="collection" style="
    position: fixed;
    left: 5px;
    top: 80px;
    width: 193px;
    ">
        <a href="#!" class="collection-item">Alvin</a>
        <a href="#!" class="collection-item active">Alvin</a>
        <a href="#!" class="collection-item">Alvin</a>
        <a href="#!" class="collection-item">Alvin</a>
    </div>


    <div class="z-depth-3" style="padding:16px; background-color:white;">
        <article class="post">
            <h1>{{ page.title }}</h1>

            <div class="entry">
                {{ content }}
            </div>

            <div class="date">
                {% if page.lang == "en" %}
                Written on {{ page.date }}
                {% else %}
                Publié le {{ page.date }}
                {% endif %}
            </div>
            {% if page.comments == true %}
            <div class="row">
                <h5>Commentaires</h5>
                <div class="col s12">
                    {% include disqus.html %}
                </div>
            </div>
            {% endif %}
        </article>
    </div>
</div>