---
layout: base
permalink: /posts
---
<div class="container">
   <article class="post">
      <h1>{{ page.title }}</h1>

      <div class="entry">
         {{ content }}
      </div>

      <div class="date">
         {% if page.lang == "en" %}
         Written on {{ page.date }}
         {% else %}
         Publié le {{ page.date }}
         {% endif %}
      </div>
      <div class="row">
         <h5>Commentaires</h5>
         <div class="col s12">
            {% include disqus.html %}
         </div>
      </div>
   </article>
</div>