<!DOCTYPE html>
<html>
<head>
    {% assign currentLanguage = 'fr' %}
    {% if page.lang[0] %}
    {% assign currentLanguage = page.lang[0] %}
    {% endif %}

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description[currentLanguage]
        }}</title>

    {% include meta.html %}
    {% include styles.html %}

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description[currentLanguage] }}"
          href="{{ site.baseurl }}/feed.xml"/>

</head>

<body>
<!-- navbar:start -->
<header class="navbar-fixed">
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="{{ site.baseurl }}/" class="site-avatar">
                <img src="{{ site.avatar }}"/>

                <!--<div class="site-info">-->
                <!--<h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>-->
                <!--<p class="site-description">{{ site.description[currentLanguage] }}</p>-->
                <!--</div>-->

            </a>
            {% include breadcrumb.html path=page.path title=page.title %}
            {% include navbar-links.html %}
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</header>
<!-- navbar:end -->

<!-- content:start -->
<main class="row">
    <div class="container">
        <div class="col s12 m12 l12 xl12">
            {{ content }}
            <div class="col s12">

                <ul id="hexGrid">
                    {% for project in site.projects %}
                    <li class="hex hoverable">
                        <div class="hexIn">
                            <a class="hexLink" href="/projects/{{ project.title }}">
                                <img src="{{ project.cover }}" alt=""/>
                                <h1>{{ project.title }}</h1>
                                <p>{{ project.description }}</p>
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</main>

{% include footer.html %}
{% include scripts.html %}
</body>
</html>
